/* ## Reset ## */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

/* ## Default Styles ## */

body {
    font-family: Verdana;
    font-weight: 400;
    color: #222222;
}
main {margin-top:4rem;}
a {
    color: #222222;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6,
a:hover, a:active {
    color: #335576;
}

/* ## Website Container ## */

.container {
    width: 1280px;
    margin: auto;
}

.flex-container {display: flex;}

/* ## Topbar - Navigation Menu ## */

.topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: #FFFFFF;
    padding: 1rem 0;
}
.flex-container--topbar {
    justify-content: space-between;
    align-items: center;
}
.topbar__logo-link {color: #335576;}
.topbar__logo-link:hover, .topbar__logo-link:active {color: #335576;}
.topbar__logo-name {font-size: 1.5rem;}
.topbar__navigation-items {
    display: flex;
    list-style: none;
}
.topbar__navigation-item {margin-right: 2rem;}
.topbar__navigation-item--last {margin-right: 0;}

.topbar__navigation-link {
    padding-bottom: .5rem;
}
.topbar__navigation-link:hover,
.topbar__navigation-link:hover,
.topbar__navigation-item--active {
    color: #222222;
    border-bottom: .20rem solid #DB7A4E;
}

/* ## Footer - Contact Card ## */

.flex-container--contact-card {
    justify-content: center;
    align-items: center;
}
.contact-card {
    padding: 3.5rem 0;
    background-color: #FEFAF5;
}
.contact-card__title {margin: 0 0 2rem;}
.contact-card__info {color: #335576;}
.contact-card__label {
    margin: 0 0 .5rem;
    display: block;
    color: #DB7A4E;
    font-size: .7rem;
    text-transform: uppercase;
}
.contact-card__day-time--spacer,
.contact-card__social-link--spacer {margin: 0 2rem;}
.contact-card--spacer {margin: 0 7rem;}
.contact-card__social-icon {
    width: 100%;
    max-width: 2rem;
}
.contact-card__social-icon--facebook {
    width: 100%;
    max-width: 1rem;
}
