/* ## Hero ## */

.hero {
    padding: 3.5rem 0;
    background-color: #FEFAF5;
}
.flex-container--hero {
    justify-content: space-between;
    align-items: center;
}
.hero__details {width: 40%;}
.hero__title {font-size: 2rem;}
.hero__slogan {
    color: #335576;
    margin: 2.7rem 0 2.2rem;
}
.hero__action {
    background-color: #DB7A4E;
    color: #FFFFFF;
    padding: .5rem 2rem;
    border-radius: 1.2rem;
}
.hero__action:hover, .hero__action:active {color: #FFFFFF;}
.hero__imagery {
    width: 100%;
    max-width: 500px;
}

/* ## Destinations ## */
.flex-container--destinations-card {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.destinations-card {padding: 3rem 0 4rem;}
.destinations-card__main-title {
    flex: 0 0 100%;
    margin-bottom: 2rem;
}
.destinations-card__link {
    position: relative;
    border-radius: .35rem;
    margin-right: 4rem;
}
.destinations-card__image {
    width: 100%;
    max-width: 15rem;
    border-radius: .35rem;
    background-color: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
.destinations-card__title {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}